.btn-s {
  border-radius: 30px;
  background-color: rgb(160, 95, 150);
  color: #fefefe;
}

.btn-bg {
  border-radius: 50px;
  background-color: rgba(115, 122, 133, 0.52);
  color: #ffffff;
}
.page-back {
  position: relative;
  background: #fdfdfd;
  overflow: hidden;
}
.page-back div {
  position: relative;
  z-index: 2;
}
.page-back:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background-image: url("https://previews.123rf.com/images/annaleni/annaleni1508/annaleni150800118/44340181-thin-medical-line-health-care-white-seamless-pattern-vector-medicine-design-and-seamless-background-.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: contain;
}

.text-lighter {
  font-weight: lighter;
}

.btn-bg-text {
  width: 95%;
  border-radius: 10px;
  background-color: rgba(115, 122, 133, 0.521);
  color: #ffffff;
}

.btn-med_card {
  border-radius: 30px;
  background-color: rgb(0, 168, 204);
  color: #fefefe;
}
.btn-med_card:hover {
  background-color: rgba(60, 153, 182, 0.9);
  color: #fefefe;
}

.btn-med_card-child {
  justify-content: center;
  border-radius: 10px;
  border-color: rgba(152, 12, 167, 0.7);
  width: 100%;
  background-color: rgb(161, 72, 147);
  color: #fefefe;
}
.btn-med_card-child:hover {
  background-color: rgb(161, 72, 147);
  color: #fefefe;
}
.btn-reminders {
  border-radius: 30px;
  background-color: rgb(246, 75, 60);
  color: #fefefe;
}
.btn-reminders:hover {
  background-color: rgba(212, 48, 35, 0.9);
  color: #fefefe;
}
.btn-reminders-child {
  justify-content: left;
  border-radius: 10px;
  border-color: rgb(201, 123, 115);
  width: 100%;
  background-color: rgb(201, 123, 115);
  color: #fefefe;
}
.btn-reminders-child:hover {
  background-color: rgba(201, 123, 115, 0.87);
  color: #fefefe;
}
.btn-reminders-page {
  justify-content: left;
  border-radius: 10px;
  border-color: rgba(42, 63, 87, 0.54);
  width: 100%;
  background-color: rgba(42, 63, 87, 0.54);
  color: #fefefe;
}
.btn-reminders-page:hover {
  background-color: rgba(42, 63, 87, 0.54);
  color: #fefefe;
}
.btn-settings {
  border-radius: 30px;
  background-color: rgb(53, 182, 91);
  color: #fefefe;
}
.btn-settings:hover {
  background-color: rgba(53, 182, 91, 0.9);
  color: #fefefe;
}
.btn-ex {
  border-radius: 30px;
  background-color: rgb(147, 181, 179);
  color: #fefefe;
}
.btn-ex:hover {
  background-color: rgba(147, 181, 179, 0.9);
  color: #fefefe;
}
.btn-s:hover {
  background-color: rgba(160, 95, 150, 0.9);
  color: #fefefe;
}
.btn-settings-nonChange {
  border-radius: 15px;
  background-color: rgba(109, 114, 128, 0.44);
  color: #2a2a2a;
}

.btn-settings-Change {
  border-radius: 10px;
}

.btn-settings-background {
  background-color: rgba(128, 128, 128, 0.24);
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
